/*-------------------------------
CSS pour toutes les pages d'objet
-------------------------------*/
/*General*/
html{
    height: 100%;
}

body{
    margin: 0px;
    height: 100%;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*pour placer des elements d'un cote d'un element parent*/
.fll{
    float:left;
    clear: right;
}
 
.flr{
    float:right;
    clear: left;
    margin-right: 5px;
}

/*-----------------------------------
bar de navigation a gauche de l'écran
-----------------------------------*/
.bar{
    border-right: solid;
    border-width: 1px;
    min-width: 200px;
    height: 100%;
    margin-left: 5px;
}

.centre{
    text-align: center;
    margin: auto;
}

/*div avec photo profil et nom*/
.profil{
    border-bottom: solid;
    border-width: 1px;
    margin-right: 5px;
}

/*metre un cadre à l'image*/
img{
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
    width:50px;
    height:50px;
}

.selected{
    background-color: rgb(201, 201, 201);
}

/*---------------------------
Partie avec les objets exposé
---------------------------*/
.corp{
    line-height:65px;
    margin-left: 205px;
    height: 100%;
    background-color: paleturquoise;
}

.cadre{
    margin: 10px;
    background-color: rebeccapurple;
}

.etage{
    margin: 10px;
    background-color: royalblue;
}